<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_dongcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{913,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,328}}</string>
                <key>sourceSize</key>
                <string>{913,328}</string>
            </dict>
            <key>btnAddXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btnInfoXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btnMaxBetXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1045,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>btnSubTracXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btn_backtoGame_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{306,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,70}}</string>
                <key>sourceSize</key>
                <string>{306,70}</string>
            </dict>
            <key>btn_bigwin_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,332},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_history_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,332},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_info_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,332},{195,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,69}}</string>
                <key>sourceSize</key>
                <string>{195,69}</string>
            </dict>
            <key>btn_next_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,332},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>btn_notify_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,332},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_pre_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,332},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>btn_start_freeturning_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,332},{347,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,82}}</string>
                <key>sourceSize</key>
                <string>{347,82}</string>
            </dict>
            <key>coin_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,332},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>kimtuthap_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,332},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>sp_bigwin_gold_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{144,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,25}}</string>
                <key>sourceSize</key>
                <string>{144,25}</string>
            </dict>
            <key>sp_bigwin_ketqua_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,416},{98,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,26}}</string>
                <key>sourceSize</key>
                <string>{98,26}</string>
            </dict>
            <key>sp_bigwin_mtk_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,416},{49,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,21}}</string>
                <key>sourceSize</key>
                <string>{49,21}</string>
            </dict>
            <key>sp_bigwin_nickname_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,416},{117,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,21}}</string>
                <key>sourceSize</key>
                <string>{117,21}</string>
            </dict>
            <key>sp_bigwin_stt_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,416},{44,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,21}}</string>
                <key>sourceSize</key>
                <string>{44,21}</string>
            </dict>
            <key>sp_history_cuoc_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,416},{71,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,25}}</string>
                <key>sourceSize</key>
                <string>{71,25}</string>
            </dict>
            <key>sp_history_dongtrung_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,416},{151,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,25}}</string>
                <key>sourceSize</key>
                <string>{151,25}</string>
            </dict>
            <key>sp_history_phien_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,416},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,24}}</string>
                <key>sourceSize</key>
                <string>{70,24}</string>
            </dict>
            <key>sp_history_tientrung_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,416},{138,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,25}}</string>
                <key>sourceSize</key>
                <string>{138,25}</string>
            </dict>
            <key>sp_history_time_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,416},{194,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,29}}</string>
                <key>sourceSize</key>
                <string>{194,29}</string>
            </dict>
            <key>sp_info_bg_xac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{541,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,324}}</string>
                <key>sourceSize</key>
                <string>{541,324}</string>
            </dict>
            <key>sp_info_panel_xac.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,447},{429,331}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,331}}</string>
                <key>sourceSize</key>
                <string>{429,331}</string>
            </dict>
            <key>sp_kha_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,447},{110,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,79}}</string>
                <key>sourceSize</key>
                <string>{110,79}</string>
            </dict>
            <key>sp_khung_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>sp_latxu_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,780},{496,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,100}}</string>
                <key>sourceSize</key>
                <string>{496,100}</string>
            </dict>
            <key>sp_lichsu_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,780},{210,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,89}}</string>
                <key>sourceSize</key>
                <string>{210,89}</string>
            </dict>
            <key>sp_line_row_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,780},{1,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,194}}</string>
                <key>sourceSize</key>
                <string>{1,194}</string>
            </dict>
            <key>sp_list_line_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{912,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{912,2}}</string>
                <key>sourceSize</key>
                <string>{912,2}</string>
            </dict>
            <key>sp_lon_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,976},{104,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,80}}</string>
                <key>sourceSize</key>
                <string>{104,80}</string>
            </dict>
            <key>sp_lqmp_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,976},{83,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,42}}</string>
                <key>sourceSize</key>
                <string>{83,42}</string>
            </dict>
            <key>sp_luatchoi_xac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{274,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,90}}</string>
                <key>sourceSize</key>
                <string>{274,90}</string>
            </dict>
            <key>sp_nho_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1058},{107,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,82}}</string>
                <key>sourceSize</key>
                <string>{107,82}</string>
            </dict>
            <key>sp_notify_bg_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1058},{400,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,131}}</string>
                <key>sourceSize</key>
                <string>{400,131}</string>
            </dict>
            <key>sp_notify_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,1058},{285,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,76}}</string>
                <key>sourceSize</key>
                <string>{285,76}</string>
            </dict>
            <key>sp_popup_freeturning_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1191},{1083,647}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1083,647}}</string>
                <key>sourceSize</key>
                <string>{1083,647}</string>
            </dict>
            <key>sp_scatter_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{225,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,44}}</string>
                <key>sourceSize</key>
                <string>{225,44}</string>
            </dict>
            <key>sp_text_latxu_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1840},{188,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,33}}</string>
                <key>sourceSize</key>
                <string>{188,33}</string>
            </dict>
            <key>sp_text_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1840},{124,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,43}}</string>
                <key>sourceSize</key>
                <string>{124,43}</string>
            </dict>
            <key>sp_thanglon_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1840},{281,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,82}}</string>
                <key>sourceSize</key>
                <string>{281,82}</string>
            </dict>
            <key>sp_tilethuong_xac.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1840},{330,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,89}}</string>
                <key>sourceSize</key>
                <string>{330,89}</string>
            </dict>
            <key>sp_vua_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1931},{111,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,80}}</string>
                <key>sourceSize</key>
                <string>{111,80}</string>
            </dict>
            <key>sp_white_dot_xhc.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1931},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>spinXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1931},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>stopXHC.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1931},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>text_dongcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1931},{289,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,86}}</string>
                <key>sourceSize</key>
                <string>{289,86}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1931},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,1931},{22,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,19}}</string>
                <key>sourceSize</key>
                <string>{22,19}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1931},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1931},{23,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,18}}</string>
                <key>sourceSize</key>
                <string>{23,18}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,1931},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1931},{24,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,21}}</string>
                <key>sourceSize</key>
                <string>{24,21}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1203,1931},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>sourceSize</key>
                <string>{22,18}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1931},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasXAC.png</string>
            <key>size</key>
            <string>{1251,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3658add4a35d6f6ebd28fb4e2b31617b:a27e64f55d13d32845f506554efc84fb:c26181f9e1d55cf0a416d0116394f37f$</string>
            <key>textureFileName</key>
            <string>AtlasXAC.png</string>
        </dict>
    </dict>
</plist>
