<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnAddXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btnInfoXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btnMaxBetXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>btnSubTracXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btn_bigwin_xpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_history_xpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,105},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_notify_xpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,105},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spinXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>stopXPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasComboSpinButtons.png</string>
            <key>size</key>
            <string>{318,397}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a08b237dc52bc02cb9a9341b21b8dad3:dd591a54f6bf886253433610c8535aa1:e288d0381920360d0b24f0d6afa9b323$</string>
            <key>textureFileName</key>
            <string>AtlasComboSpinButtons.png</string>
        </dict>
    </dict>
</plist>
