<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGLichSuPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{861,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,44}}</string>
                <key>sourceSize</key>
                <string>{861,44}</string>
            </dict>
            <key>BGThangLonPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,48},{861,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,44}}</string>
                <key>sourceSize</key>
                <string>{861,44}</string>
            </dict>
            <key>BtnQuayLaiPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,115},{455,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{455,96}}</string>
                <key>sourceSize</key>
                <string>{455,96}</string>
            </dict>
            <key>ButtonLeftPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,48},{59,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,65}</string>
            </dict>
            <key>IconCham.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>Image10Panda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>Image9Panda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,213},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageADPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,213},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageAPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,213},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageBirdPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageCoinPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,213},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageFishPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageJPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageKPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageKamePanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageLotusPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImagePandaPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>ImageQPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>Khung.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,385},{189,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,170}}</string>
                <key>sourceSize</key>
                <string>{189,170}</string>
            </dict>
            <key>LinePanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,213},{2,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,128}}</string>
                <key>sourceSize</key>
                <string>{2,128}</string>
            </dict>
            <key>TextLChoiPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{252,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,89}}</string>
                <key>sourceSize</key>
                <string>{252,89}</string>
            </dict>
            <key>TextLQMPPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,115},{449,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,95}}</string>
                <key>sourceSize</key>
                <string>{449,95}</string>
            </dict>
            <key>TextLichSuPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,213},{293,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,138}}</string>
                <key>sourceSize</key>
                <string>{293,138}</string>
            </dict>
            <key>TextNHGTPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,115},{386,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,90}}</string>
                <key>sourceSize</key>
                <string>{386,90}</string>
            </dict>
            <key>TextTLTPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,115},{307,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,92}}</string>
                <key>sourceSize</key>
                <string>{307,92}</string>
            </dict>
            <key>TextThangLonPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,213},{411,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,131}}</string>
                <key>sourceSize</key>
                <string>{411,131}</string>
            </dict>
            <key>TextThongBaoPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{427,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,122}}</string>
                <key>sourceSize</key>
                <string>{427,122}</string>
            </dict>
            <key>TitleLichSuPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{861,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,44}}</string>
                <key>sourceSize</key>
                <string>{861,44}</string>
            </dict>
            <key>TitleThangLonPanda.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{861,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,44}}</string>
                <key>sourceSize</key>
                <string>{861,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasXengPanda.png</string>
            <key>size</key>
            <string>{1912,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fbb7f33d1c5957ab8e8608a6c7bbc28:18e95c25a31fb6bb9862b4e1756a634e:92a76f0078b8e6f3445436a6694d4a61$</string>
            <key>textureFileName</key>
            <string>AtlasXengPanda.png</string>
        </dict>
    </dict>
</plist>
