<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackGroundLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{1497,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1497,75}}</string>
                <key>sourceSize</key>
                <string>{1497,75}</string>
            </dict>
            <key>BackGroundTextLS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,232},{998,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,47}}</string>
                <key>sourceSize</key>
                <string>{998,47}</string>
            </dict>
            <key>Group-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1295},{1087,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1087,651}}</string>
                <key>sourceSize</key>
                <string>{1087,651}</string>
            </dict>
            <key>Group-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{966,503}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{966,503}}</string>
                <key>sourceSize</key>
                <string>{966,503}</string>
            </dict>
            <key>Shape-1-copy-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{103,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,118}}</string>
                <key>sourceSize</key>
                <string>{103,118}</string>
            </dict>
            <key>Shape-1-copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{103,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,118}}</string>
                <key>sourceSize</key>
                <string>{103,118}</string>
            </dict>
            <key>Xin-Fu-popup-items.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,281},{929,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{929,419}}</string>
                <key>sourceSize</key>
                <string>{929,419}</string>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,702},{1005,514}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1005,514}}</string>
                <key>sourceSize</key>
                <string>{1005,514}</string>
            </dict>
            <key>btnBackToGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{555,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{555,126}}</string>
                <key>sourceSize</key>
                <string>{555,126}</string>
            </dict>
            <key>imageLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{2,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,228}}</string>
                <key>sourceSize</key>
                <string>{2,228}</string>
            </dict>
            <key>lineM.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{998,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,47}}</string>
                <key>sourceSize</key>
                <string>{998,47}</string>
            </dict>
            <key>textLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,56}}</string>
                <key>sourceSize</key>
                <string>{160,56}</string>
            </dict>
            <key>textThongBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{245,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,45}}</string>
                <key>sourceSize</key>
                <string>{245,45}</string>
            </dict>
            <key>thắng-lớn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,281},{998,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,120}}</string>
                <key>sourceSize</key>
                <string>{998,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhucPopup.png</string>
            <key>size</key>
            <string>{2002,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab99497c9dd1a529d2096cc5588061b5:dc3f3438e6893f347e800dcf6734c480:673519e74302951ce93059e818a626f0$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhucPopup.png</string>
        </dict>
    </dict>
</plist>
