<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{761,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,282}}</string>
                <key>sourceSize</key>
                <string>{761,282}</string>
            </dict>
            <key>44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{761,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{761,272}}</string>
                <key>sourceSize</key>
                <string>{761,272}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{758,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,288}}</string>
                <key>sourceSize</key>
                <string>{758,288}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhucLine10.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fb1b671aa1aed0f33f28116419a61b:11/11$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhucLine10.png</string>
        </dict>
    </dict>
</plist>
