<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackGroundVongMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{636,611}}</string>
                <key>sourceSize</key>
                <string>{636,611}</string>
            </dict>
            <key>BackGroundWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{252,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,319}}</string>
                <key>sourceSize</key>
                <string>{252,319}</string>
            </dict>
            <key>ButtonQuayMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{209,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,206}}</string>
                <key>sourceSize</key>
                <string>{209,206}</string>
            </dict>
            <key>KimQuayMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,2},{286,435}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,435}}</string>
                <key>sourceSize</key>
                <string>{286,435}</string>
            </dict>
            <key>VongQuayMiniGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{638,639}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,639}}</string>
                <key>sourceSize</key>
                <string>{638,639}</string>
            </dict>
            <key>btnAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>btnInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,643},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btnMaxBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,643},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>btnSubTrac.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,643},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>btn_bigwin_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,643},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_history_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,643},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_notify_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,643},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,643},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,643},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhuc.png</string>
            <key>size</key>
            <string>{2033,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4516b6603a672f0650ab782fa2582c1e:b8ecdb7594c6a1772dfaaed25172e705:fdce5da736338be7ab38f09a0ac8f66d$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhuc.png</string>
        </dict>
    </dict>
</plist>
