<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{759,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,145}}</string>
                <key>sourceSize</key>
                <string>{759,145}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{759,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{759,141}}</string>
                <key>sourceSize</key>
                <string>{759,141}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{764,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,409}}</string>
                <key>sourceSize</key>
                <string>{764,409}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{763,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{763,295}}</string>
                <key>sourceSize</key>
                <string>{763,295}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{763,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{763,142}}</string>
                <key>sourceSize</key>
                <string>{763,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhucLine7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fb1b671aa1aed0f33f28116419a61b:8/11$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhucLine7.png</string>
        </dict>
    </dict>
</plist>
