<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{153,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,130}}</string>
                <key>sourceSize</key>
                <string>{153,130}</string>
            </dict>
            <key>Item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,2},{153,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,105}}</string>
                <key>sourceSize</key>
                <string>{153,105}</string>
            </dict>
            <key>Item11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{112,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,107}}</string>
                <key>sourceSize</key>
                <string>{112,107}</string>
            </dict>
            <key>Item12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>Item13.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{164,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,170}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>Item14.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{125,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,130}}</string>
                <key>sourceSize</key>
                <string>{125,130}</string>
            </dict>
            <key>Item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{170,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,172}}</string>
                <key>sourceSize</key>
                <string>{170,172}</string>
            </dict>
            <key>Item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{161,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{151,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,118}}</string>
                <key>sourceSize</key>
                <string>{151,118}</string>
            </dict>
            <key>Item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,2},{153,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,115}}</string>
                <key>sourceSize</key>
                <string>{153,115}</string>
            </dict>
            <key>Item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1489,2},{109,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,86}}</string>
                <key>sourceSize</key>
                <string>{109,86}</string>
            </dict>
            <key>Item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{109,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,96}}</string>
                <key>sourceSize</key>
                <string>{109,96}</string>
            </dict>
            <key>Item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{109,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,95}}</string>
                <key>sourceSize</key>
                <string>{109,95}</string>
            </dict>
            <key>Item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,2},{109,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,100}}</string>
                <key>sourceSize</key>
                <string>{109,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhucItem.png</string>
            <key>size</key>
            <string>{1933,176}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae6abb8e74de1b9a883c9645bd6dbf0d:b201f3247046b69c1f45c84bdd71c1ee:657d2bf68e91c3b10f774d130f9f1d75$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhucItem.png</string>
        </dict>
    </dict>
</plist>
