<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,273},{762,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,257}}</string>
                <key>sourceSize</key>
                <string>{762,257}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{758,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{758,377}}</string>
                <key>sourceSize</key>
                <string>{758,377}</string>
            </dict>
            <key>45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{762,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{762,269}}</string>
                <key>sourceSize</key>
                <string>{762,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengVanPhucLine9.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79fb1b671aa1aed0f33f28116419a61b:10/11$</string>
            <key>textureFileName</key>
            <string>atlasXengVanPhucLine9.png</string>
        </dict>
    </dict>
</plist>
