<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BanTaiXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{848,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{848,473}}</string>
                <key>sourceSize</key>
                <string>{848,473}</string>
            </dict>
            <key>BtnPopupResult.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,349},{59,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{59,34}</string>
            </dict>
            <key>BtnPopupResultClick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,349},{62,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,36}}</string>
                <key>sourceSize</key>
                <string>{62,36}</string>
            </dict>
            <key>Dice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,399},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,309},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1167,354},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,309},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,394},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>Dice6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,349},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>MoiDatCuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,53},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>Nap.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,104},{243,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,243}}</string>
                <key>sourceSize</key>
                <string>{243,243}</string>
            </dict>
            <key>NgungNhanCuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>SelectGoldLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,413},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>backGroundTaiXiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,104},{203,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,204}}</string>
                <key>sourceSize</key>
                <string>{203,204}</string>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,349},{116,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,158}}</string>
                <key>sourceSize</key>
                <string>{116,158}</string>
            </dict>
            <key>lightYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,410},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasTaiXiu.png</string>
            <key>size</key>
            <string>{1332,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f2bde771588b1804a957cf39cc6965d:1/1$</string>
            <key>textureFileName</key>
            <string>AtlasTaiXiu.png</string>
        </dict>
    </dict>
</plist>
