<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingBGDefault.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{649,403}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{649,403}}</string>
                <key>sourceSize</key>
                <string>{649,403}</string>
            </dict>
            <key>LoadingBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{432,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,21}}</string>
                <key>sourceSize</key>
                <string>{432,21}</string>
            </dict>
            <key>LoadingItemBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{425,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,22}}</string>
                <key>sourceSize</key>
                <string>{425,22}</string>
            </dict>
            <key>TxtLoadingGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{246,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,22}}</string>
                <key>sourceSize</key>
                <string>{246,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasLoading.png</string>
            <key>size</key>
            <string>{653,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc87449c8c67078982aedc1c4f0ed42e:66bca39af73cff3ece9057199811973e:b565e6be713d2a47c0d0aee2b90f15a3$</string>
            <key>textureFileName</key>
            <string>AtlasLoading.png</string>
        </dict>
    </dict>
</plist>
