<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card15.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card16.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card18.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card19.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card20.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card21.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,234},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card22.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,366},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,498},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card24.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,630},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card25.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,762},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card26.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,894},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card27.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card28.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card29.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card3.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card30.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,102},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card31.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card32.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,334},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card33.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,466},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card34.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,598},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card35.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,730},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card36.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,862},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card37.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card38.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card39.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card40.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,202},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card41.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,334},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card42.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,466},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card43.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,598},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card44.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,730},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card45.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,862},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card46.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,302},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card47.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,302},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card48.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,302},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card49.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,334},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card5.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,402},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card50.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,402},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card51.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,402},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{96,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card6.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,434},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,534},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card8.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,666},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
            <key>card9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,798},{98,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,130}}</string>
                <key>sourceSize</key>
                <string>{100,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasCards.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4257869c7cfb7fdc7ee2e830c0d1a4b:3fa5f467916ccc81e794688de9b7982d:63f302dfed930f202555a6637d7fa827$</string>
            <key>textureFileName</key>
            <string>AtlasCards.png</string>
        </dict>
    </dict>
</plist>
