<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,296},{450,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,130}}</string>
                <key>sourceSize</key>
                <string>{450,130}</string>
            </dict>
            <key>LightHight.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,296},{12,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,178}}</string>
                <key>sourceSize</key>
                <string>{12,178}</string>
            </dict>
            <key>barLS.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{804,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,40}}</string>
                <key>sourceSize</key>
                <string>{804,40}</string>
            </dict>
            <key>btnNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,134},{70,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>btnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,199},{255,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,95}}</string>
                <key>sourceSize</key>
                <string>{255,95}</string>
            </dict>
            <key>btnX.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>buttomBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{411,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,99}}</string>
                <key>sourceSize</key>
                <string>{411,99}</string>
            </dict>
            <key>cellHis.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,134},{804,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,59}}</string>
                <key>sourceSize</key>
                <string>{804,59}</string>
            </dict>
            <key>hisBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{804,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,40}}</string>
                <key>sourceSize</key>
                <string>{804,40}</string>
            </dict>
            <key>lc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{170,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,58}}</string>
                <key>sourceSize</key>
                <string>{170,58}</string>
            </dict>
            <key>lqmp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{399,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{399,65}}</string>
                <key>sourceSize</key>
                <string>{399,65}</string>
            </dict>
            <key>popupBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,296},{318,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,189}}</string>
                <key>sourceSize</key>
                <string>{318,189}</string>
            </dict>
            <key>tb.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,134},{330,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,61}}</string>
                <key>sourceSize</key>
                <string>{330,61}</string>
            </dict>
            <key>titleBigWin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,76},{253,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,49}}</string>
                <key>sourceSize</key>
                <string>{253,49}</string>
            </dict>
            <key>titleLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,76},{171,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,56}}</string>
                <key>sourceSize</key>
                <string>{171,56}</string>
            </dict>
            <key>titleNoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,76},{245,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,46}}</string>
                <key>sourceSize</key>
                <string>{245,46}</string>
            </dict>
            <key>vqmt.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,199},{425,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,72}}</string>
                <key>sourceSize</key>
                <string>{425,72}</string>
            </dict>
            <key>wLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{829,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{829,22}}</string>
                <key>sourceSize</key>
                <string>{829,22}</string>
            </dict>
            <key>wmr.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,199},{307,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{307,72}}</string>
                <key>sourceSize</key>
                <string>{307,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengAladinPopup.png</string>
            <key>size</key>
            <string>{1483,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28fad81bc792c8098c2f0baaf098795d:351bfd86db5e1a0f1440bc4d68e2a3b6:9e9d78710466ba85bda110c5e3b16ab5$</string>
            <key>textureFileName</key>
            <string>atlasXengAladinPopup.png</string>
        </dict>
    </dict>
</plist>
