<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GoldMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,346},{217,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,519}}</string>
                <key>sourceSize</key>
                <string>{217,519}</string>
            </dict>
            <key>Item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item12.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item13.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,346},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>khung2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,346},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>princessMagic.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,346},{183,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,513}}</string>
                <key>sourceSize</key>
                <string>{183,513}</string>
            </dict>
            <key>willMacgic.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,346},{189,519}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,519}}</string>
                <key>sourceSize</key>
                <string>{189,519}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengAladinItem.png</string>
            <key>size</key>
            <string>{1143,867}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e15d6c332eeda324257d73c65fab0b34:e8761d7abd91dbd1f0cc65f5ded9ea2f:f540a37ec16e3560bb06e986071519eb$</string>
            <key>textureFileName</key>
            <string>atlasXengAladinItem.png</string>
        </dict>
    </dict>
</plist>
