<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btnAdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>btnInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btnMaxBet.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>btnSubTrac.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{68,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,104}}</string>
                <key>sourceSize</key>
                <string>{68,104}</string>
            </dict>
            <key>btn_bigwin_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_history_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_notify_xvp.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>spin.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengAladin.png</string>
            <key>size</key>
            <string>{1136,117}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06fb289ef9204f2353978f354b07e84d:eb8545207e4a5a56da441df16a5a7639:8aa6c7e2a4203ba466a9ad52b22558b9$</string>
            <key>textureFileName</key>
            <string>atlasXengAladin.png</string>
        </dict>
    </dict>
</plist>
