<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_hoi_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>btn_info_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>so_notice_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,507},{508,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,261}}</string>
                <key>sourceSize</key>
                <string>{508,261}</string>
            </dict>
            <key>sp_khungquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,847},{475,475}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,475}}</string>
                <key>sourceSize</key>
                <string>{475,475}</string>
            </dict>
            <key>sp_kimquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1},{217,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,100}}</string>
                <key>sourceSize</key>
                <string>{217,100}</string>
            </dict>
            <key>sp_luotquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{87,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,21}}</string>
                <key>sourceSize</key>
                <string>{87,21}</string>
            </dict>
            <key>sp_nenlon_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{417,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,417}}</string>
                <key>sourceSize</key>
                <string>{417,417}</string>
            </dict>
            <key>sp_nenmo_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,115},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sp_nennho_trong_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,260},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>sp_nennho_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,507},{343,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,339}}</string>
                <key>sourceSize</key>
                <string>{343,339}</string>
            </dict>
            <key>sp_nenquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>sp_nentronglon_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,260},{246,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,246}}</string>
                <key>sourceSize</key>
                <string>{246,246}</string>
            </dict>
            <key>sp_nentrongnho_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,260},{157,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,157}}</string>
                <key>sourceSize</key>
                <string>{157,157}</string>
            </dict>
            <key>sp_nutquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,1},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>sp_text_luotquay_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1},{130,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,56}}</string>
                <key>sourceSize</key>
                <string>{130,56}</string>
            </dict>
            <key>sp_title_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,115},{545,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,119}}</string>
                <key>sourceSize</key>
                <string>{545,119}</string>
            </dict>
            <key>sp_vongsang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,260},{113,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,163}}</string>
                <key>sourceSize</key>
                <string>{113,163}</string>
            </dict>
            <key>sp_vongsang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,1},{81,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,113}}</string>
                <key>sourceSize</key>
                <string>{81,113}</string>
            </dict>
            <key>sp_vongsang_lon_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,260},{107,209}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,209}}</string>
                <key>sourceSize</key>
                <string>{107,209}</string>
            </dict>
            <key>sp_vongsang_nho_vqmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,115},{94,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,123}}</string>
                <key>sourceSize</key>
                <string>{94,123}</string>
            </dict>
            <key>vqmm_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>vqmm_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,1},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasVongQuayMayMan.png</string>
            <key>size</key>
            <string>{905,1323}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0ca461d992de5bf3532e78e377eb25d:267b64f85b8957c0e9c4696587c4aaf8:55186b1c5adc74ff308ce385a79c8c4a$</string>
            <key>textureFileName</key>
            <string>AtlasVongQuayMayMan.png</string>
        </dict>
    </dict>
</plist>
