<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_test.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,64},{64,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,85}}</string>
                <key>sourceSize</key>
                <string>{64,85}</string>
            </dict>
            <key>ct_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,178},{542,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,257}}</string>
                <key>sourceSize</key>
                <string>{542,257}</string>
            </dict>
            <key>ct_bgcCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,64},{82,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,111}}</string>
                <key>sourceSize</key>
                <string>{82,111}</string>
            </dict>
            <key>ct_bglabel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{99,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{99,28}</string>
            </dict>
            <key>ct_btcPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{86,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,113}}</string>
                <key>sourceSize</key>
                <string>{86,113}</string>
            </dict>
            <key>ct_btnClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ct_btnCuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ct_btnCuocHover.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>ct_btnHelp.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>ct_btnInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>ct_btnLuotMoiEnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,2},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>ct_btnPlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,64},{86,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,110}}</string>
                <key>sourceSize</key>
                <string>{86,110}</string>
            </dict>
            <key>ct_btnRanking.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,51}}</string>
                <key>sourceSize</key>
                <string>{50,51}</string>
            </dict>
            <key>ct_btnUpDown.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,64},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>ct_btnUpdownEnable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{75,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,61}}</string>
                <key>sourceSize</key>
                <string>{75,61}</string>
            </dict>
            <key>ct_btnluotmoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{116,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,38}}</string>
                <key>sourceSize</key>
                <string>{116,38}</string>
            </dict>
            <key>ct_hugold.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,2},{73,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{73,60}</string>
            </dict>
            <key>ct_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,64},{334,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,112}}</string>
                <key>sourceSize</key>
                <string>{334,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasCaoThap.png</string>
            <key>size</key>
            <string>{730,463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a0078c564689a366213e34b4d15960f:9dc65c2d3ddbd7d74bee0fab36d33860:041bffec59f7872220ae36865158d6c5$</string>
            <key>textureFileName</key>
            <string>AtlasCaoThap.png</string>
        </dict>
    </dict>
</plist>
