<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BinhChoVanMoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>CardInvisible.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{80,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,104}}</string>
                <key>sourceSize</key>
                <string>{80,104}</string>
            </dict>
            <key>XepChi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>binhXongEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,28}}</string>
                <key>sourceSize</key>
                <string>{66,28}</string>
            </dict>
            <key>stateBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{71,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,22}}</string>
                <key>sourceSize</key>
                <string>{71,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasBinh.png</string>
            <key>size</key>
            <string>{482,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9190d46b7b6ad4d8a3dd252d5c1806:a56e77bdfc75535bd3efd2dcc0444371:5f9721e0a4c7e032f4d915461240de66$</string>
            <key>textureFileName</key>
            <string>atlasBinh.png</string>
        </dict>
    </dict>
</plist>
