<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>DiceTD1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>DiceTD2.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>DiceTD3.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>DiceTD4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>DiceTD5.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>DiceTD6.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,358},{544,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,251}}</string>
                <key>sourceSize</key>
                <string>{544,251}</string>
            </dict>
            <key>btn_analytics.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,21},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,21},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,64},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btn_close_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,64},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btn_cuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,21},{103,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,34}}</string>
                <key>sourceSize</key>
                <string>{103,34}</string>
            </dict>
            <key>btn_datcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,64},{139,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,42}}</string>
                <key>sourceSize</key>
                <string>{139,42}</string>
            </dict>
            <key>btn_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,21},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>btn_huongdan.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,21},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,21},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>btn_pre.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,21},{18,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,37}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>btn_send_trenduoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,64},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_topwin.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,21},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>duoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,21},{85,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,36}}</string>
                <key>sourceSize</key>
                <string>{85,36}</string>
            </dict>
            <key>effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,197},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>sp_analytics.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,197},{200,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,152}}</string>
                <key>sourceSize</key>
                <string>{200,152}</string>
            </dict>
            <key>sp_analytics_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,64},{238,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,42}}</string>
                <key>sourceSize</key>
                <string>{238,42}</string>
            </dict>
            <key>sp_backgroundcuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,64},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sp_chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,358},{344,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{344,343}}</string>
                <key>sourceSize</key>
                <string>{344,343}</string>
            </dict>
            <key>sp_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,21},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sp_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,21},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sp_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,21},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>sp_dot_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>sp_dot_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,0},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>sp_dot_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,0},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>sp_dot_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,0},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>sp_dot_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,0},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>sp_graph_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,64},{25,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,132}}</string>
                <key>sourceSize</key>
                <string>{25,132}</string>
            </dict>
            <key>sp_graph_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,197},{14,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,151}}</string>
                <key>sourceSize</key>
                <string>{14,151}</string>
            </dict>
            <key>sp_graph_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,0},{423,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,3}}</string>
                <key>sourceSize</key>
                <string>{423,3}</string>
            </dict>
            <key>sp_graph_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{423,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,3}}</string>
                <key>sourceSize</key>
                <string>{423,3}</string>
            </dict>
            <key>sp_grid.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,197},{421,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,148}}</string>
                <key>sourceSize</key>
                <string>{421,148}</string>
            </dict>
            <key>sp_header_td.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,197},{177,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,136}}</string>
                <key>sourceSize</key>
                <string>{177,136}</string>
            </dict>
            <key>sp_khungchat.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,21},{309,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,42}}</string>
                <key>sourceSize</key>
                <string>{309,42}</string>
            </dict>
            <key>sp_line_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,0},{2,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,17}}</string>
                <key>sourceSize</key>
                <string>{2,17}</string>
            </dict>
            <key>sp_line_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,0},{3,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,19}}</string>
                <key>sourceSize</key>
                <string>{3,19}</string>
            </dict>
            <key>sp_line_total.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,21},{3,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,34}}</string>
                <key>sourceSize</key>
                <string>{3,34}</string>
            </dict>
            <key>sp_line_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,0},{2,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,19}}</string>
                <key>sourceSize</key>
                <string>{2,19}</string>
            </dict>
            <key>sp_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,64},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sp_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,21},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>sp_text_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>sp_text_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>sp_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,0},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{14,19}</string>
            </dict>
            <key>sp_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,21},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>tren.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,21},{87,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,37}}</string>
                <key>sourceSize</key>
                <string>{87,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atlasTrenDuoi.png</string>
            <key>size</key>
            <string>{989,701}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab9e0de61c1a554369ce59e0a9118f69:f0411a696a5a3f969e78e62f5e28ab96:a0b80a23248bf97e4240cd9cd6e388cd$</string>
            <key>textureFileName</key>
            <string>atlasTrenDuoi.png</string>
        </dict>
    </dict>
</plist>
