<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,518},{180,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,176}}</string>
                <key>sourceSize</key>
                <string>{180,176}</string>
            </dict>
            <key>Item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,346},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,346},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,518},{180,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,175}}</string>
                <key>sourceSize</key>
                <string>{180,175}</string>
            </dict>
            <key>Item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>Item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasItemsXAC.png</string>
            <key>size</key>
            <string>{548,696}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c642873d0b48718518b3d29d0fee417:a488d07bb127b6fc394b558a3ac5b357:37b309095498896c14d778d29ac55bee$</string>
            <key>textureFileName</key>
            <string>AtlasItemsXAC.png</string>
        </dict>
    </dict>
</plist>
