<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGListView.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{657,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,338}}</string>
                <key>sourceSize</key>
                <string>{657,338}</string>
            </dict>
            <key>BGPopupHistory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{681,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{681,398}}</string>
                <key>sourceSize</key>
                <string>{681,398}</string>
            </dict>
            <key>BGTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,342},{657,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{657,40}}</string>
                <key>sourceSize</key>
                <string>{657,40}</string>
            </dict>
            <key>Line.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,384},{492,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{492,3}}</string>
                <key>sourceSize</key>
                <string>{492,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasHistoryPopup.png</string>
            <key>size</key>
            <string>{1344,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42fe8c8ec86fd622a04723b56b098ea9:a3494985697298e1916d4c6f9e7424d2:787b86f6784f1c8f23219c643666ed37$</string>
            <key>textureFileName</key>
            <string>atlasHistoryPopup.png</string>
        </dict>
    </dict>
</plist>
