<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackgroundBAPDPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,186},{338,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,246}}</string>
                <key>sourceSize</key>
                <string>{338,246}</string>
            </dict>
            <key>BackgroundContainPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1483,186},{522,533}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,533}}</string>
                <key>sourceSize</key>
                <string>{522,533}</string>
            </dict>
            <key>BtnBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,84},{201,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,78}}</string>
                <key>sourceSize</key>
                <string>{201,78}</string>
            </dict>
            <key>BtnBackToGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,84},{292,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,78}}</string>
                <key>sourceSize</key>
                <string>{292,78}</string>
            </dict>
            <key>BtnInfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1452,84},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>BtnMax.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,84},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>BtnMinus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,84},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>BtnNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,84},{201,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,78}}</string>
                <key>sourceSize</key>
                <string>{201,78}</string>
            </dict>
            <key>BtnPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,84},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>BtnStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,186},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>BtnStop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,186},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>IconBonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1},{131,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,37}}</string>
                <key>sourceSize</key>
                <string>{131,37}</string>
            </dict>
            <key>IconGameRule.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,84},{200,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,48}}</string>
                <key>sourceSize</key>
                <string>{200,48}</string>
            </dict>
            <key>IconLongDen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,186},{62,509}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,509}}</string>
                <key>sourceSize</key>
                <string>{62,509}</string>
            </dict>
            <key>IconScatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,1},{172,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,37}}</string>
                <key>sourceSize</key>
                <string>{172,37}</string>
            </dict>
            <key>IconWild.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{100,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,37}}</string>
                <key>sourceSize</key>
                <string>{100,37}</string>
            </dict>
            <key>RuleDes.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,186},{446,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,257}}</string>
                <key>sourceSize</key>
                <string>{446,257}</string>
            </dict>
            <key>btn_bigwin_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,84},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_close_popup_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,1},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>btn_history_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,84},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_notify_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,84},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sp_bigwin_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{804,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,40}}</string>
                <key>sourceSize</key>
                <string>{804,40}</string>
            </dict>
            <key>sp_bigwin_title_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{218,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,45}}</string>
                <key>sourceSize</key>
                <string>{218,45}</string>
            </dict>
            <key>sp_dot_yello_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{9,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,9}}</string>
                <key>sourceSize</key>
                <string>{9,9}</string>
            </dict>
            <key>sp_history_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,40},{804,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{804,40}}</string>
                <key>sourceSize</key>
                <string>{804,40}</string>
            </dict>
            <key>sp_history_title_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,84},{150,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,51}}</string>
                <key>sourceSize</key>
                <string>{150,51}</string>
            </dict>
            <key>sp_listviewcell_collumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,186},{2,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,127}}</string>
                <key>sourceSize</key>
                <string>{2,127}</string>
            </dict>
            <key>sp_listviewcell_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{799,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{799,2}}</string>
                <key>sourceSize</key>
                <string>{799,2}</string>
            </dict>
            <key>sp_notify_title_bapd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1611,40},{221,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,43}}</string>
                <key>sourceSize</key>
                <string>{221,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasBAPD.png</string>
            <key>size</key>
            <string>{2006,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30b1ba6e754211286205556a7ba846ca:7134f5101fb9bdbf1126a35ecae146a9:06b0c1e34b9d1ed28bcd1cd067bbf569$</string>
            <key>textureFileName</key>
            <string>AtlasBAPD.png</string>
        </dict>
    </dict>
</plist>
