<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ba.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{46,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,36}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>BaiChonDanhKoHopLe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>Bet.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,2},{64,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,44}}</string>
                <key>sourceSize</key>
                <string>{64,44}</string>
            </dict>
            <key>BoBai.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,48},{57,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,77}}</string>
                <key>sourceSize</key>
                <string>{57,77}</string>
            </dict>
            <key>Nhat.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,48},{91,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,48}}</string>
                <key>sourceSize</key>
                <string>{91,48}</string>
            </dict>
            <key>Nhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{59,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,44}}</string>
                <key>sourceSize</key>
                <string>{59,44}</string>
            </dict>
            <key>Stoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,48},{104,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,135}}</string>
                <key>sourceSize</key>
                <string>{104,135}</string>
            </dict>
            <key>Toi3Bich.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{113,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,32}}</string>
                <key>sourceSize</key>
                <string>{113,32}</string>
            </dict>
            <key>fxBoluot.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>fxCong.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>fxDen.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>fxThua3Bich.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,48},{134,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,31}}</string>
                <key>sourceSize</key>
                <string>{134,31}</string>
            </dict>
            <key>fxUng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasTienLen.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cea50f26b9e90af7d7eebc7fae4418a8:1263071775b84164ea8fc5e3d5fb4e7d:824ad958a78b550331c7d986c4692e2e$</string>
            <key>textureFileName</key>
            <string>AtlasTienLen.png</string>
        </dict>
    </dict>
</plist>
