<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FrameEffectReel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,899},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,1},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,450},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel7.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,450},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel8.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,450},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
            <key>FrameEffectReel9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,899},{252,448}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,448}}</string>
                <key>sourceSize</key>
                <string>{252,448}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CompoEffectReel.png</string>
            <key>size</key>
            <string>{1013,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b04a8d0eb419a8f5d34dc42b6dd7c376:41f46534fd334508d78e905274b86029:396cb67eb9c028653b0211ed0d5ae0fa$</string>
            <key>textureFileName</key>
            <string>CompoEffectReel.png</string>
        </dict>
    </dict>
</plist>
