<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_miniBAPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>sourceSize</key>
                <string>{1280,720}</string>
            </dict>
            <key>background_minigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{1090,679}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1090,679}}</string>
                <key>sourceSize</key>
                <string>{1090,679}</string>
            </dict>
            <key>mini_1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,724},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_4-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>mini_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1405},{103,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,147}}</string>
                <key>sourceSize</key>
                <string>{103,147}</string>
            </dict>
            <key>sp_checkboxBAPD.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1405},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>sp_stick.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1405},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,1405},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,136}</string>
            </dict>
            <key>up.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1405},{97,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,136}}</string>
                <key>sourceSize</key>
                <string>{97,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasMiniGameBAPD.png</string>
            <key>size</key>
            <string>{1284,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8882b1f095843d762798429e85237ac:5dd504646a80933d54f5ee23ade9d50e:4b2d7ced70cbce693857735006087476$</string>
            <key>textureFileName</key>
            <string>AtlasMiniGameBAPD.png</string>
        </dict>
    </dict>
</plist>
