<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AvatarCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,278},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>BGDiscount.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,151},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>BGHeaderTrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,63},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>BGTitleEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,63},{91,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,38}}</string>
                <key>sourceSize</key>
                <string>{91,38}</string>
            </dict>
            <key>BGWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{338,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,20}}</string>
                <key>sourceSize</key>
                <string>{338,20}</string>
            </dict>
            <key>BackGroundEditBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,63},{229,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,39}}</string>
                <key>sourceSize</key>
                <string>{229,39}</string>
            </dict>
            <key>BackGroundLine100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,63},{58,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,39}}</string>
                <key>sourceSize</key>
                <string>{58,39}</string>
            </dict>
            <key>BackGroundLine50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{61,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,39}}</string>
                <key>sourceSize</key>
                <string>{61,39}</string>
            </dict>
            <key>BackGroundLineHoTroKH.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,104},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>BackGroundMenhGiaCH.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>BackGroundTitleMGTCH.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,104},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>BackgroundPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{499,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{499,252}}</string>
                <key>sourceSize</key>
                <string>{499,252}</string>
            </dict>
            <key>BackgroundTab.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,104},{77,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,42}}</string>
                <key>sourceSize</key>
                <string>{77,42}</string>
            </dict>
            <key>BlackArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>BorderRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,278},{200,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,137}}</string>
                <key>sourceSize</key>
                <string>{200,137}</string>
            </dict>
            <key>BorderRect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>BorderRect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,151},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>BtnBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,278},{150,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,65}}</string>
                <key>sourceSize</key>
                <string>{150,65}</string>
            </dict>
            <key>BtnChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,278},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>BtnLoginBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{150,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,65}}</string>
                <key>sourceSize</key>
                <string>{150,65}</string>
            </dict>
            <key>ButtonClose.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,2},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>ButtonGray.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,28},{89,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,33}}</string>
                <key>sourceSize</key>
                <string>{89,33}</string>
            </dict>
            <key>ButtonRefesh.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,28},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>ButtonTabOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,151},{172,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,53}}</string>
                <key>sourceSize</key>
                <string>{172,53}</string>
            </dict>
            <key>ButtonYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,28},{89,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,33}}</string>
                <key>sourceSize</key>
                <string>{89,33}</string>
            </dict>
            <key>CloseBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,151},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>HeaderRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,63},{200,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,35}}</string>
                <key>sourceSize</key>
                <string>{200,35}</string>
            </dict>
            <key>IconArchive.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,104},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>IconCamera.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,151},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>IconCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,278},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>IconEmail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>IconFacebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,28},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>IconFlag.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,104},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>IconGo.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,2},{17,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,12}}</string>
                <key>sourceSize</key>
                <string>{17,12}</string>
            </dict>
            <key>IconGopY.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,28},{32,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,28}}</string>
                <key>sourceSize</key>
                <string>{32,28}</string>
            </dict>
            <key>IconGroup.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,63},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,36}}</string>
                <key>sourceSize</key>
                <string>{42,36}</string>
            </dict>
            <key>IconItemIAP.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,417},{181,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,204}}</string>
                <key>sourceSize</key>
                <string>{181,204}</string>
            </dict>
            <key>IconNotify.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,151},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>IconRefreshCapcha.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,28},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>IconStoreBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>IconTongDai.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{32,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,24}</string>
            </dict>
            <key>IconWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{9,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,19}}</string>
                <key>sourceSize</key>
                <string>{9,19}</string>
            </dict>
            <key>ImgBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,104},{62,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,42}}</string>
                <key>sourceSize</key>
                <string>{62,42}</string>
            </dict>
            <key>ImgBtnEmoChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,104},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ImgBtnEnterChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,104},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>ImgBtnFastChat.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,28},{45,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,29}}</string>
                <key>sourceSize</key>
                <string>{45,29}</string>
            </dict>
            <key>ImgBtnTabCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,28},{78,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,29}}</string>
                <key>sourceSize</key>
                <string>{78,29}</string>
            </dict>
            <key>ImgBtnTabCenterDeActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,28},{78,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,29}}</string>
                <key>sourceSize</key>
                <string>{78,29}</string>
            </dict>
            <key>ImgBtnTabLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,104},{110,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,42}}</string>
                <key>sourceSize</key>
                <string>{110,42}</string>
            </dict>
            <key>ImgBtnTabLeftDeActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,104},{111,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,41}}</string>
                <key>sourceSize</key>
                <string>{111,41}</string>
            </dict>
            <key>ImgBtnTabRightDeActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,104},{111,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,41}}</string>
                <key>sourceSize</key>
                <string>{111,41}</string>
            </dict>
            <key>ImgStore.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{1049,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1049,63}}</string>
                <key>sourceSize</key>
                <string>{1049,63}</string>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{334,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,8}}</string>
                <key>sourceSize</key>
                <string>{334,8}</string>
            </dict>
            <key>LineOpacity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,1}}</string>
                <key>sourceSize</key>
                <string>{198,1}</string>
            </dict>
            <key>LoginText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{205,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,45}}</string>
                <key>sourceSize</key>
                <string>{205,45}</string>
            </dict>
            <key>RectBorder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,417},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>RegisterText.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,63},{159,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,39}}</string>
                <key>sourceSize</key>
                <string>{159,39}</string>
            </dict>
            <key>SelectRect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{198,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,33}}</string>
                <key>sourceSize</key>
                <string>{198,33}</string>
            </dict>
            <key>SelectRectEclip.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,28},{200,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,33}}</string>
                <key>sourceSize</key>
                <string>{200,33}</string>
            </dict>
            <key>TabPersonalSelect.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,278},{255,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,107}}</string>
                <key>sourceSize</key>
                <string>{255,107}</string>
            </dict>
            <key>TrianglePointer.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{5,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,11}}</string>
                <key>sourceSize</key>
                <string>{5,11}</string>
            </dict>
            <key>TxtBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,151},{240,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,47}}</string>
                <key>sourceSize</key>
                <string>{240,47}</string>
            </dict>
            <key>TxtBackgroundWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,104},{78,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,42}}</string>
                <key>sourceSize</key>
                <string>{78,42}</string>
            </dict>
            <key>TxtChatBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,28},{156,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,32}}</string>
                <key>sourceSize</key>
                <string>{156,32}</string>
            </dict>
            <key>lineEvent.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,278},{1,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,110}}</string>
                <key>sourceSize</key>
                <string>{1,110}</string>
            </dict>
            <key>stokeButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,417},{257,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,173}}</string>
                <key>sourceSize</key>
                <string>{257,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasPopups.png</string>
            <key>size</key>
            <string>{1053,877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56fbc07ac2f5115a4e27227396c3fe65:133e14fad700a51a8d1778ed829e53a9:71fae9ec7028f4d1b744b50b65154c21$</string>
            <key>textureFileName</key>
            <string>AtlasPopups.png</string>
        </dict>
    </dict>
</plist>
