<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_Rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,372}}</string>
                <key>sourceSize</key>
                <string>{230,372}</string>
            </dict>
            <key>btn_close_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>icon_temp.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,376},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,376},{173,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,3}}</string>
                <key>sourceSize</key>
                <string>{173,3}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasCompoTopNoHu.png</string>
            <key>size</key>
            <string>{236,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0fa18af03dc0da8633bb36acdafa034:966004d02c66e286b9cf9035413a3987:bc4f0c7b8952c7abf6d552f7d917bad6$</string>
            <key>textureFileName</key>
            <string>AtlasCompoTopNoHu.png</string>
        </dict>
    </dict>
</plist>
