<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BGTextLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{860,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,43}}</string>
                <key>sourceSize</key>
                <string>{860,43}</string>
            </dict>
            <key>BGTextThangLon.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{860,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{860,43}}</string>
                <key>sourceSize</key>
                <string>{860,43}</string>
            </dict>
            <key>ImageKhung.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,351},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Image_Ruong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,351},{180,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,171}}</string>
                <key>sourceSize</key>
                <string>{180,171}</string>
            </dict>
            <key>LineLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1911,351},{63,502}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,502}}</string>
                <key>sourceSize</key>
                <string>{63,502}</string>
            </dict>
            <key>LineRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,351},{63,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,511}}</string>
                <key>sourceSize</key>
                <string>{63,511}</string>
            </dict>
            <key>btnAddXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,64},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btnInfoXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,64},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>btnMaxBetXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,64},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>btnSubTracXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,64},{53,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,92}}</string>
                <key>sourceSize</key>
                <string>{53,92}</string>
            </dict>
            <key>btn_bigwin_xth.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_history_xth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_notify_xth.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buttonNext.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,64},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>buttonTroVeGame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,64},{318,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,108}}</string>
                <key>sourceSize</key>
                <string>{318,108}</string>
            </dict>
            <key>iconChan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{483,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{483,60}}</string>
                <key>sourceSize</key>
                <string>{483,60}</string>
            </dict>
            <key>iconHoaVan.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,64},{259,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,63}}</string>
                <key>sourceSize</key>
                <string>{259,63}</string>
            </dict>
            <key>iconLineHinhThoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,351},{6,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,186}}</string>
                <key>sourceSize</key>
                <string>{6,186}</string>
            </dict>
            <key>iconLinePopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,351},{3,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,196}}</string>
                <key>sourceSize</key>
                <string>{3,196}</string>
            </dict>
            <key>iconRuleColumn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,351},{438,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,312}}</string>
                <key>sourceSize</key>
                <string>{438,312}</string>
            </dict>
            <key>iconTuGiac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,29}}</string>
                <key>sourceSize</key>
                <string>{22,29}</string>
            </dict>
            <key>imageRuong_Block.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>imageRuong_Fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>imageRuong_Gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_bonus.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_chengho.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_columbus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_magellan.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,351},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_nikitin.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_ongdia.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_pharaong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_tuong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_tuong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_voi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>image_wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,179},{180,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,170}}</string>
                <key>sourceSize</key>
                <string>{180,170}</string>
            </dict>
            <key>spinXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,64},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
            <key>stopXTH.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{314,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,113}}</string>
                <key>sourceSize</key>
                <string>{314,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasXengThamHiem.png</string>
            <key>size</key>
            <string>{2041,864}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa861f3ad21416e72f9a29d8c8d8612f:e631b70b5a507440e794176e3f088a6e:0fa5ddce3ef65f51490281e4bd7fc94a$</string>
            <key>textureFileName</key>
            <string>AtlasXengThamHiem.png</string>
        </dict>
    </dict>
</plist>
