<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnCloseTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ImageCircle.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ImageLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,2}}</string>
                <key>sourceSize</key>
                <string>{238,2}</string>
            </dict>
            <key>bgCoins.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{423,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,67}}</string>
                <key>sourceSize</key>
                <string>{423,67}</string>
            </dict>
            <key>bgRectText.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{77,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,19}}</string>
                <key>sourceSize</key>
                <string>{77,19}</string>
            </dict>
            <key>fxCuLu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{68,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,32}}</string>
                <key>sourceSize</key>
                <string>{68,32}</string>
            </dict>
            <key>fxDach.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,36},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>fxDonTay.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,72},{478,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,49}}</string>
                <key>sourceSize</key>
                <string>{478,49}</string>
            </dict>
            <key>fxKhongTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,36},{115,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,34}}</string>
                <key>sourceSize</key>
                <string>{115,34}</string>
            </dict>
            <key>fxMauThau.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,72},{115,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,38}}</string>
                <key>sourceSize</key>
                <string>{115,38}</string>
            </dict>
            <key>fxSamCo.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{86,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,32}}</string>
                <key>sourceSize</key>
                <string>{86,32}</string>
            </dict>
            <key>fxSanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,34}}</string>
                <key>sourceSize</key>
                <string>{63,34}</string>
            </dict>
            <key>fxTheo.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,2},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,28}}</string>
                <key>sourceSize</key>
                <string>{59,28}</string>
            </dict>
            <key>fxThu.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{48,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,32}}</string>
                <key>sourceSize</key>
                <string>{48,32}</string>
            </dict>
            <key>fxThung.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{76,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,32}}</string>
                <key>sourceSize</key>
                <string>{76,32}</string>
            </dict>
            <key>fxThungphasanh.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,36},{186,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,34}}</string>
                <key>sourceSize</key>
                <string>{186,34}</string>
            </dict>
            <key>fxTo.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,36},{36,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{36,34}</string>
            </dict>
            <key>fxToDau.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,72},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>fxTuquy.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,36},{83,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,33}}</string>
                <key>sourceSize</key>
                <string>{83,33}</string>
            </dict>
            <key>fxUpBo.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,36},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>imageX.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,123},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasXiTo.png</string>
            <key>size</key>
            <string>{700,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dae10f6c0c783027ae7390e6272aa2e0:d599a02f5e8792382d8991c9d2697f40:3ed4ff18fc9e7d964511be0df3fdb090$</string>
            <key>textureFileName</key>
            <string>AtlasXiTo.png</string>
        </dict>
    </dict>
</plist>
