<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BTNTab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,43}</string>
                <key>spriteSourceSize</key>
                <string>{130,43}</string>
                <key>textureRect</key>
                <string>{{592,58},{130,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackgroundBlackBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{890,164},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackgroundFooter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{960,28}</string>
                <key>spriteSourceSize</key>
                <string>{960,28}</string>
                <key>textureRect</key>
                <string>{{2,28},{960,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackgroundHeaderLogin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,76}</string>
                <key>spriteSourceSize</key>
                <string>{231,76}</string>
                <key>textureRect</key>
                <string>{{90,227},{231,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackgroundTab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{743,3}</string>
                <key>spriteSourceSize</key>
                <string>{743,3}</string>
                <key>textureRect</key>
                <string>{{2,2},{743,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackgroundTextInput.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,50}</string>
                <key>spriteSourceSize</key>
                <string>{179,50}</string>
                <key>textureRect</key>
                <string>{{197,108},{179,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBaoMat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{518,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonLogin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,50}</string>
                <key>spriteSourceSize</key>
                <string>{129,50}</string>
                <key>textureRect</key>
                <string>{{66,108},{129,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderAvatarMask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{457,164},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderBackgroundGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,53}</string>
                <key>spriteSourceSize</key>
                <string>{278,53}</string>
                <key>textureRect</key>
                <string>{{494,108},{278,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderBtnDoiQua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{766,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderBtnEmail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{828,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderBtnMenuExtend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{704,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderBtnNapGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,52}</string>
                <key>textureRect</key>
                <string>{{420,108},{72,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconCoin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,29}</string>
                <key>spriteSourceSize</key>
                <string>{25,29}</string>
                <key>textureRect</key>
                <string>{{2,58},{25,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNavigateW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{774,2},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNavigateY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,13}</string>
                <key>spriteSourceSize</key>
                <string>{13,13}</string>
                <key>textureRect</key>
                <string>{{759,2},{13,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNewMail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{839,2},{22,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNext.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,50}</string>
                <key>spriteSourceSize</key>
                <string>{40,50}</string>
                <key>textureRect</key>
                <string>{{378,108},{40,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNotifyHot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,48}</string>
                <key>spriteSourceSize</key>
                <string>{61,48}</string>
                <key>textureRect</key>
                <string>{{898,58},{61,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconNotifyNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,48}</string>
                <key>spriteSourceSize</key>
                <string>{62,48}</string>
                <key>textureRect</key>
                <string>{{2,108},{62,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImageFanpage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,54}</string>
                <key>spriteSourceSize</key>
                <string>{114,54}</string>
                <key>textureRect</key>
                <string>{{774,108},{114,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImageHoTro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,54}</string>
                <key>spriteSourceSize</key>
                <string>{100,54}</string>
                <key>textureRect</key>
                <string>{{2,164},{100,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImageHuongDan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,54}</string>
                <key>spriteSourceSize</key>
                <string>{135,54}</string>
                <key>textureRect</key>
                <string>{{209,164},{135,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImageTaiApp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,54}</string>
                <key>spriteSourceSize</key>
                <string>{109,54}</string>
                <key>textureRect</key>
                <string>{{346,164},{109,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImageTinTuc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,54}</string>
                <key>spriteSourceSize</key>
                <string>{103,54}</string>
                <key>textureRect</key>
                <string>{{104,164},{103,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBoderBtnMenuInGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,44}</string>
                <key>spriteSourceSize</key>
                <string>{172,44}</string>
                <key>textureRect</key>
                <string>{{724,58},{172,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBoderLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,38}</string>
                <key>spriteSourceSize</key>
                <string>{1,38}</string>
                <key>textureRect</key>
                <string>{{320,58},{1,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBorderGradient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,30}</string>
                <key>spriteSourceSize</key>
                <string>{106,30}</string>
                <key>textureRect</key>
                <string>{{29,58},{106,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnArrowUpDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,5}</string>
                <key>spriteSourceSize</key>
                <string>{10,5}</string>
                <key>textureRect</key>
                <string>{{747,2},{10,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnBoardBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,121}</string>
                <key>spriteSourceSize</key>
                <string>{182,121}</string>
                <key>textureRect</key>
                <string>{{323,227},{182,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnLineMenuSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,32}</string>
                <key>spriteSourceSize</key>
                <string>{181,32}</string>
                <key>textureRect</key>
                <string>{{137,58},{181,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnMenuBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,40}</string>
                <key>spriteSourceSize</key>
                <string>{105,40}</string>
                <key>textureRect</key>
                <string>{{323,58},{105,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnMenuBGLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,40}</string>
                <key>spriteSourceSize</key>
                <string>{105,40}</string>
                <key>textureRect</key>
                <string>{{430,58},{105,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgBtnMenuBGMid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,40}</string>
                <key>spriteSourceSize</key>
                <string>{53,40}</string>
                <key>textureRect</key>
                <string>{{537,58},{53,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgIconHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{863,2},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgIconRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{813,2},{24,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgIconUser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{791,2},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ImgMenuSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,156}</string>
                <key>spriteSourceSize</key>
                <string>{181,156}</string>
                <key>textureRect</key>
                <string>{{507,227},{181,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadingIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,182}</string>
                <key>spriteSourceSize</key>
                <string>{182,182}</string>
                <key>textureRect</key>
                <string>{{690,227},{182,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,70}</string>
                <key>spriteSourceSize</key>
                <string>{86,70}</string>
                <key>textureRect</key>
                <string>{{2,227},{86,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuIconGG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{580,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menuIconfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{642,164},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasCompoMenu.png</string>
            <key>size</key>
            <string>{964,411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40e64e33a8e71d12b8a22f8ddfff6d4b:11088294b728b7201e1ecb2086b1b861:dc8d2a0a6032b191b3c52bc2a0751cd8$</string>
            <key>textureFileName</key>
            <string>AtlasCompoMenu.png</string>
        </dict>
    </dict>
</plist>
