<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item10.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item11.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item12.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,2},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item8.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
            <key>Item9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1027,207},{203,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,203}}</string>
                <key>sourceSize</key>
                <string>{203,203}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasItemsXHC.png</string>
            <key>size</key>
            <string>{1232,412}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f30cdced9f6b776615177c056ac8b641:2aecd58dabea41a3a5074f42282a38cb:14fd466812c1c7f834fcfd3d013f9234$</string>
            <key>textureFileName</key>
            <string>AtlasItemsXHC.png</string>
        </dict>
    </dict>
</plist>
