<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackGroundBangThuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{207,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,151}}</string>
                <key>sourceSize</key>
                <string>{207,151}</string>
            </dict>
            <key>BackGroundButtonQuayLai.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,388},{208,96}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{208,96}}</string>
                <key>sourceSize</key>
                <string>{214,102}</string>
            </dict>
            <key>BackGroundLineGiaoDich.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,366},{318,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{318,20}}</string>
                <key>sourceSize</key>
                <string>{318,20}</string>
            </dict>
            <key>BackGroundMuc.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,607},{80,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,22}}</string>
                <key>sourceSize</key>
                <string>{80,22}</string>
            </dict>
            <key>BackGroundPage.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,684},{12,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,18}}</string>
                <key>sourceSize</key>
                <string>{12,18}</string>
            </dict>
            <key>BackGroundTien.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,375},{119,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,24}}</string>
                <key>sourceSize</key>
                <string>{119,24}</string>
            </dict>
            <key>BackGroundTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,298},{252,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,47}}</string>
                <key>sourceSize</key>
                <string>{252,47}</string>
            </dict>
            <key>BackGroundVienXeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{242,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,294}}</string>
                <key>sourceSize</key>
                <string>{242,294}</string>
            </dict>
            <key>ButtonCao.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,157},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>ButtonCloseXeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,490},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>ButtonGomXeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,519},{163,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,34}}</string>
                <key>sourceSize</key>
                <string>{163,34}</string>
            </dict>
            <key>ButtonQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{142,171}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{142,171}}</string>
                <key>sourceSize</key>
                <string>{146,181}</string>
            </dict>
            <key>ButtonThap.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,157},{114,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,50}}</string>
                <key>sourceSize</key>
                <string>{114,50}</string>
            </dict>
            <key>Button_ChoiThu.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,486},{162,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,34}}</string>
                <key>sourceSize</key>
                <string>{162,34}</string>
            </dict>
            <key>ImageBall.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,522},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>ImageLight1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,157},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
            <key>ImageLight2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{162,153}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{162,153}}</string>
                <key>sourceSize</key>
                <string>{166,155}</string>
            </dict>
            <key>ImageLight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,509},{110,82}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,82}}</string>
                <key>sourceSize</key>
                <string>{116,88}</string>
            </dict>
            <key>LineBottomBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,347},{234,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,26}}</string>
                <key>sourceSize</key>
                <string>{234,26}</string>
            </dict>
            <key>MGBackGroundXeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,309}}</string>
                <key>sourceSize</key>
                <string>{534,309}</string>
            </dict>
            <key>MGBackGroundXengDuoi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,313},{532,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,51}}</string>
                <key>sourceSize</key>
                <string>{532,51}</string>
            </dict>
            <key>OChuaSo.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,442},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,60}}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>SoundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,653},{39,41}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>SoundOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,653},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>btnBoChon.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,357},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>btnSelectChan.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,663},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>btnSelectLe.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,631},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>btnTatCa.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,621},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>iconDiaChu.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,273},{90,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{92,84}</string>
            </dict>
            <key>iconHoangGia.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,388},{117,119}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{119,121}</string>
            </dict>
            <key>iconNongDan.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,627},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,69}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>iconQuyToc.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,375},{111,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,105}}</string>
                <key>sourceSize</key>
                <string>{113,107}</string>
            </dict>
            <key>iconRow.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,695},{1,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,35}}</string>
                <key>sourceSize</key>
                <string>{1,35}</string>
            </dict>
            <key>iconTick.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{37,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,28}}</string>
                <key>sourceSize</key>
                <string>{37,28}</string>
            </dict>
            <key>iconTien.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,663},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>iconTienZdo.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,486},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,623},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>icon_10_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,357},{83,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,91}}</string>
                <key>sourceSize</key>
                <string>{83,91}</string>
            </dict>
            <key>icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,623},{56,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,70}}</string>
                <key>sourceSize</key>
                <string>{56,70}</string>
            </dict>
            <key>icon_9_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,624},{63,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,107}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>icon_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,627},{78,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>icon_A_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,591},{80,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,68}}</string>
                <key>sourceSize</key>
                <string>{80,68}</string>
            </dict>
            <key>icon_Boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,442},{91,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{91,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>icon_Boat_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,353},{98,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>icon_Car.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,439},{93,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,70}}</string>
                <key>sourceSize</key>
                <string>{93,70}</string>
            </dict>
            <key>icon_Car_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,506},{93,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,99}}</string>
                <key>sourceSize</key>
                <string>{93,99}</string>
            </dict>
            <key>icon_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,526},{63,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,71}}</string>
                <key>sourceSize</key>
                <string>{63,71}</string>
            </dict>
            <key>icon_J_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,526},{63,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,91}}</string>
                <key>sourceSize</key>
                <string>{63,91}</string>
            </dict>
            <key>icon_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,84},{71,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,69}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>icon_K_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{76,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_KhungChuaDong.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,644},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>icon_Plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,511},{93,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,82}}</string>
                <key>sourceSize</key>
                <string>{93,82}</string>
            </dict>
            <key>icon_Plane_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,375},{93,129}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{93,129}}</string>
                <key>sourceSize</key>
                <string>{93,135}</string>
            </dict>
            <key>icon_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,577},{65,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,83}}</string>
                <key>sourceSize</key>
                <string>{65,83}</string>
            </dict>
            <key>icon_Q_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,284},{67,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{67,131}}</string>
                <key>sourceSize</key>
                <string>{67,141}</string>
            </dict>
            <key>icon_Scatter.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,623},{100,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{100,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>icon_Scatter_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,522},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,110}</string>
            </dict>
            <key>icon_Wild.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,482},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,93}}</string>
                <key>sourceSize</key>
                <string>{94,93}</string>
            </dict>
            <key>icon_Wild_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,509},{86,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{86,112}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>textMucCuoc.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,591},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>textNoHu.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,595},{103,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,30}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasXengLuxury2.png</string>
            <key>size</key>
            <string>{1024,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f630c5395aaa9ad683eaefdad0dc7ae1:1/1$</string>
            <key>textureFileName</key>
            <string>atlasXengLuxury2.png</string>
        </dict>
    </dict>
</plist>
