<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,0},{49,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,33}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>BaoSam.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,0},{101,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,33}}</string>
                <key>sourceSize</key>
                <string>{101,33}</string>
            </dict>
            <key>ButtonBaoSam.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,37},{175,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,55}}</string>
                <key>sourceSize</key>
                <string>{175,55}</string>
            </dict>
            <key>ButtonHuyBaoSam.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,37},{175,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,55}}</string>
                <key>sourceSize</key>
                <string>{175,55}</string>
            </dict>
            <key>PopupBaoSam.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>fxBoluot.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,0},{96,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,37}}</string>
                <key>sourceSize</key>
                <string>{96,37}</string>
            </dict>
            <key>fxCong.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,0},{64,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,31}}</string>
                <key>sourceSize</key>
                <string>{64,31}</string>
            </dict>
            <key>fxDen.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,0},{50,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,33}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>fxUng.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{50,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,31}}</string>
                <key>sourceSize</key>
                <string>{50,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AtlasSam.png</string>
            <key>size</key>
            <string>{430,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97e74034f2e976d6db401c37d66c341a:af01ec5ebef54ef5ef128936899b074b:1a8cdffa99d230df0c3e8427210b195f$</string>
            <key>textureFileName</key>
            <string>AtlasSam.png</string>
        </dict>
    </dict>
</plist>
