<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,524},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,524},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>100-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>100.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,524},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>100k-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>10K-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>10K.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,524},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>1K-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>1K.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>50K.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>50k-act.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>BackGroundText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{964,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,41}}</string>
                <key>sourceSize</key>
                <string>{964,41}</string>
            </dict>
            <key>BackGroundTextPopup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{964,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{964,40}}</string>
                <key>sourceSize</key>
                <string>{964,40}</string>
            </dict>
            <key>ButtonBXH.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{52,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,51}}</string>
                <key>sourceSize</key>
                <string>{52,51}</string>
            </dict>
            <key>ButtonClosePopupDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>ButtonLichSu.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{56,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,53}}</string>
                <key>sourceSize</key>
                <string>{56,53}</string>
            </dict>
            <key>ButtonNext.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>ButtonQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,739},{146,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,56}}</string>
                <key>sourceSize</key>
                <string>{146,56}</string>
            </dict>
            <key>ButtonQuayDis.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{146,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,56}}</string>
                <key>sourceSize</key>
                <string>{146,56}</string>
            </dict>
            <key>ButtonThongBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{55,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,46}}</string>
                <key>sourceSize</key>
                <string>{55,46}</string>
            </dict>
            <key>IconLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{5,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,313}}</string>
                <key>sourceSize</key>
                <string>{5,313}</string>
            </dict>
            <key>Image1Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>Image1Bar_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,638},{92,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,65}}</string>
                <key>sourceSize</key>
                <string>{92,65}</string>
            </dict>
            <key>Image1Bar_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>Image2Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>Image2Bar_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,524},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>Image2Bar_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>Image3Bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>Image3Bar_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,524},{86,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,112}}</string>
                <key>sourceSize</key>
                <string>{86,112}</string>
            </dict>
            <key>Image3Bar_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>Image7.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>Image7_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,524},{63,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,78}}</string>
                <key>sourceSize</key>
                <string>{63,78}</string>
            </dict>
            <key>Image7_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,21}}</string>
                <key>sourceSize</key>
                <string>{20,21}</string>
            </dict>
            <key>ImageCheck.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,524},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>ImageChuong.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>ImageChuong_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,524},{73,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,101}}</string>
                <key>sourceSize</key>
                <string>{73,101}</string>
            </dict>
            <key>ImageChuong_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{32,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,40}}</string>
                <key>sourceSize</key>
                <string>{32,40}</string>
            </dict>
            <key>ImageDiamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>ImageDiamond_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,638},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{92,94}</string>
            </dict>
            <key>ImageDiamond_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{41,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,37}}</string>
                <key>sourceSize</key>
                <string>{41,37}</string>
            </dict>
            <key>ImageEmpty.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,524},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>ImageEmpty_Blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,524},{92,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,99}}</string>
                <key>sourceSize</key>
                <string>{92,99}</string>
            </dict>
            <key>ImageEmpty_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>ImageLine.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{710,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,49}}</string>
                <key>sourceSize</key>
                <string>{710,49}</string>
            </dict>
            <key>ImageNumber.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,524},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>ImageTuQuay.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,739},{169,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,36}}</string>
                <key>sourceSize</key>
                <string>{169,36}</string>
            </dict>
            <key>LineDuoiBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{1020,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,13}}</string>
                <key>sourceSize</key>
                <string>{1020,13}</string>
            </dict>
            <key>LinePhaiBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{31,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,520}}</string>
                <key>sourceSize</key>
                <string>{31,520}</string>
            </dict>
            <key>LineTraiBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,2},{13,520}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,520}}</string>
                <key>sourceSize</key>
                <string>{13,520}</string>
            </dict>
            <key>LineTrenBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{1020,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,10}}</string>
                <key>sourceSize</key>
                <string>{1020,10}</string>
            </dict>
            <key>TextLichSuDM.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,739},{173,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,52}}</string>
                <key>sourceSize</key>
                <string>{173,52}</string>
            </dict>
            <key>TextThangLon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{248,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,57}}</string>
                <key>sourceSize</key>
                <string>{248,57}</string>
            </dict>
            <key>TextThongBao.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,797},{250,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,53}}</string>
                <key>sourceSize</key>
                <string>{250,53}</string>
            </dict>
            <key>frame_match_id.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,638},{126,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,44}}</string>
                <key>sourceSize</key>
                <string>{126,44}</string>
            </dict>
            <key>frame_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,739},{199,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,44}}</string>
                <key>sourceSize</key>
                <string>{199,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atlasDiamond777.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73162f25e48471cff1f9a132284a54b6:e4a130982d7ff826c38b774dfd8f8c38:c4ad03ec54ac63528d0f3a98b0e6459a$</string>
            <key>textureFileName</key>
            <string>atlasDiamond777.png</string>
        </dict>
    </dict>
</plist>
