<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnDisable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>BtnNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>btnLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{130,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,75}}</string>
                <key>sourceSize</key>
                <string>{130,75}</string>
            </dict>
            <key>tablePlay.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{1074,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1074,497}}</string>
                <key>sourceSize</key>
                <string>{1074,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlasTable.png</string>
            <key>size</key>
            <string>{1474,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a86c863fb9dbea5223cfd76ce4e5982:dcbed89ed18dead43e55c2833391df53:a248dfd8bb8f841109213c0dd664e671$</string>
            <key>textureFileName</key>
            <string>AtlasTable.png</string>
        </dict>
    </dict>
</plist>
