<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FrameEffectItems1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems2.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems3.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems4.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
            <key>FrameEffectItems8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1701,0},{243,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,260}}</string>
                <key>sourceSize</key>
                <string>{243,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CompoEffectItem.png</string>
            <key>size</key>
            <string>{1944,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32054abd918ec215ef6d36e23a73cca9:0a40e9d48986a422c1b73a875144e4ed:8f10a82e8c7b5c0042f47f5f856c8d50$</string>
            <key>textureFileName</key>
            <string>CompoEffectItem.png</string>
        </dict>
    </dict>
</plist>
