<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5050.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{142,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,45}}</string>
                <key>sourceSize</key>
                <string>{142,45}</string>
            </dict>
            <key>BackGroundTextCenter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{566,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,301}}</string>
                <key>sourceSize</key>
                <string>{566,301}</string>
            </dict>
            <key>BgTextWithHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,50},{432,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,58}}</string>
                <key>sourceSize</key>
                <string>{432,58}</string>
            </dict>
            <key>GomHui.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,50},{156,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{156,50}</string>
            </dict>
            <key>Green-up-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,50},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,50},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>Red-up-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,50},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>SheepTut.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,110},{55,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,94}}</string>
                <key>sourceSize</key>
                <string>{55,94}</string>
            </dict>
            <key>Yellow-up-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{53,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,46}}</string>
                <key>sourceSize</key>
                <string>{53,46}</string>
            </dict>
            <key>Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,50},{63,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,53}}</string>
                <key>sourceSize</key>
                <string>{63,53}</string>
            </dict>
            <key>cell-dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>cell-light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,18}}</string>
                <key>sourceSize</key>
                <string>{256,18}</string>
            </dict>
            <key>door.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,513},{362,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,476}}</string>
                <key>sourceSize</key>
                <string>{362,476}</string>
            </dict>
            <key>imageHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,110},{86,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,96}}</string>
                <key>sourceSize</key>
                <string>{86,96}</string>
            </dict>
            <key>ket-qua-top.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,110},{269,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,149}}</string>
                <key>sourceSize</key>
                <string>{269,149}</string>
            </dict>
            <key>ket-qua.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,110},{269,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,149}}</string>
                <key>sourceSize</key>
                <string>{269,149}</string>
            </dict>
            <key>phien-cua-toi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{167,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,46}}</string>
                <key>sourceSize</key>
                <string>{167,46}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,261},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>thang-lon.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{140,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,46}}</string>
                <key>sourceSize</key>
                <string>{140,46}</string>
            </dict>
            <key>up-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{88,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,65}}</string>
                <key>sourceSize</key>
                <string>{88,65}</string>
            </dict>
            <key>xu-backGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{598,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,191}}</string>
                <key>sourceSize</key>
                <string>{598,191}</string>
            </dict>
            <key>xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,110},{95,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,96}}</string>
                <key>sourceSize</key>
                <string>{95,96}</string>
            </dict>
            <key>xuLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,110},{106,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,107}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AtlastSheep.png</string>
            <key>size</key>
            <string>{1013,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:575a09d5ba1613af19b17f62ddcc9a85:375d6aa6befb0ce11ecdc4cbad54786e:4644071b03de99f077536a32c76d2245$</string>
            <key>textureFileName</key>
            <string>AtlastSheep.png</string>
        </dict>
    </dict>
</plist>
